<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sj.app2">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestMathActivity" />
        <activity android:name=".TestCrashActivity" />
        <activity android:name=".TestInstanceActivity" />
        <activity android:name=".TestListActivity" />
        <activity android:name=".TestLinkedHashMapActivity" />
        <activity android:name=".TestAnimActivity" />
        <activity android:name=".arc.TestArcActivity" />
        <activity android:name=".TestSwitchActivity" />
        <activity android:name=".arc.TestOutlineProviderActivity" />
        <activity android:name=".sync.TestSyncActivity" />
        <activity android:name=".TestAppListActivity" />
        <activity android:name=".UnitConversionActivity" />
        <activity android:name=".popup.TestPopupActivity" />
        <activity android:name=".seekbar.SeekBarActivity" />
        <activity android:name=".seekbar.TestCanvasRotateActivity"></activity>
    </application>

</manifest>